html,body{
width:100%;
position:relative;
}
html,body, ul, select{
margin: 0;
padding: 0;
list-style: none;
box-sizing: border-box;
text-decoration: none;
border: 0;
outline: 0;
}
.main{
width: 100%;
margin: 0 auto;
position:absolute;
z-index:9999;
}
.main h3{
text-align: center;
}
.button{
	width: 100%;
	margin: 10px auto;
}
#mtable{
	width: 100%;
	height: 500px;
	margin: 0 auto;
}
#mtable ul{height:6px;}
#mtable ul li{list-style:none;display:inline-block;}
li{
	width: 5px;
	height: 5px;
	border:1px solid rgba(204,204,204,0.2);
	border-radius:5px;
	position:relative;
}
.addrName{
	position:absolute;
	width:50px;
	line-height:18px;
	top:-15px;
	left:-15px;
	font-size:14px;
	text-align:center;
	background:#00C800;
	color:#fff;
	border-radius:5px;
	box-shadow:1px 2px 1px #ccc;
}

li.path{
   
	background-size: 2px 2px;
	background-color:#00C800;
	border-radius:4px;
}
li.block{
	background-size:2px 2px;
	background-color:#000;
}
#div360{
  width:100%;
}
.addr{background:#00C800;}

#close,#title{display:none;position:relative;position:absolute;}
#close{right:20px;top:-15px;border:solid 1px  #fff;border-radius:50px;width:50px;height:50px;text-align:center;line-height:50px;font-size:25px;}
#title{top:40px;z-index:9999999;color:#fff;width:100%;text-align:center;}
#nav{width:100%;font-size:0;margin-top:10px;}
#nav div{display:inline-block;vertical-align:top;}
#nav div select{
height:45px;
line-height:45px;
width:100%;
text-align:center;
background:#fff;
padding: 0 40px;
appearance:none;
-moz-appearance:none;
-webkit-appearance:none;
}

#begin,#end{width:35%;box-shadow:0 0 3px #ccc;}
#road{width:30%;line-height:45px;text-align:center;}
#road div{background:#00C800;color:#fff;font-size:15px;width:100%;box-shadow:1px 1px 1px #ccc;}